<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ STATIC_ROUTE }}/css/homepage.css">
    <link rel="stylesheet" href="{{ STATIC_ROUTE }}/icomoon/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

{% block main %}{% endblock %}

<script src="{{ STATIC_ROUTE }}/js/react-bundle.js"></script>
<script>
    const PROVIDER = "{{ provider }}";
    const CLIENT_ID = "{{ client_id }}";
    const CLIENT_SECRET = "{{ client_secret }}";
    const REDIRECT_URI = "{{ redirect_uri }}";
</script>
{% block extra_js %}{% endblock %}
</body>
</html>