//spacing
$padding-unit: $fontsize-big * 0.625; //10px
$padding-unit-big: $fontsize-big; //16px
$padding-unit-md: $fontsize-sm; //12px
$padding-unit-sm: $fontsize-tn * 0.8; //8px
$card-padding: $padding-unit-md;