.tab-navigation {
  .search {
    .filters-container {
      margin-left: $padding-unit-big;
    }
  }

  .tab-headers {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.325rem;
    overflow: auto;
    align-items: center;
    padding-bottom: 0.75rem;

    // -ms-overflow-style: none;  /* IE and Edge */
    // scrollbar-width: none;  /* Firefox */
  }

  // .tab-headers::-webkit-scrollbar {
  //   display: none;
  // }

  .tab-headers > * {
    display: inline-block;
    padding: 5px 16px;
    border-radius: 20px;
    cursor: pointer;
    color: $color-background-3;
    white-space: nowrap;

    a, a:visited {
      color: $color-background-3;
    }
  }

  .tab-headers span.aggregation {
    margin-left: $padding-unit-sm;
    padding: $padding-unit-sm/2;
    font-size: $fontsize-tn;
    background-color: $color-background-1;
    color: $color-text-c1;
    border-radius: $radius-small;
  }

  .tab-headers > *.active {
    color: #1E1E2B;
    background-color: $color-text-c1;

    a, a:visited {
      color: $theme-color-accent;
    }
  }

  .tab-content {
    padding-top: $padding-unit*3;
  }

  .tab-content > * {
    display: none;
  }

  .tab-content > *.active {
    display: block;
  }

}