@import "config/all";

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: $theme-color-background;
  //background: $theme-color-accent-gradient;
  color: $theme-color-text;
}

@import "reset";
@import "animations/animations";
@import "modal/modal";
@import "forms/all";

@import "text/text";
@import "navbar/navbar";
@import "sidebar/all";
@import "footer/footer";

@import "components/card";
@import "components/buttons";
@import "components/images";
@import "components/alerts";
@import "layout/layouts";
@import "template/all";
@import "header/header";

//@import "oidc/all";