.link-socials {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .items {
    gap: 0.5rem;
  }

  .item {
    text-transform: capitalize;
  }

  .items.available-socials {
    .item {
      justify-content: center;
      max-width: 20rem;
      padding: 0.5rem 1rem;

      &:hover {
        background-color: transparentize($theme-color-text-secondary, 0.5);
        cursor: pointer;
      }
    }
  }
}

.card-description.social-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;

  img.profile {
    margin: 0.5rem 0;
    max-width: 5rem;
    max-height: 5rem;
  }

  .meta {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    align-items: start;
    color: $theme-color-text-secondary;

    .score {
      color: $theme-color-accent-main;
      text-decoration: underline;
    }
  }
}

.item.social {

  .platform {
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-weight: 500;
    color: $theme-color-accent-main;
    align-items: center;
  }
  .group {
    gap: 0;
  }
}