$info-icon-bg: $theme-color-main;
$info-icon-text: $theme-color-text-c;

.icon-holder-info {
  color: $info-icon-bg;
  margin-left: $padding-unit;
  cursor: pointer;
}

.icon-holder-info[data-tooltip]:hover {
  position: relative;
}

.icon-holder-info[data-tooltip]:hover::before {
  all: initial;
  display: inline-block;
  border-radius: 5px;
  background-color: $info-icon-bg;
  color: $info-icon-text;
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  width: $fontsize-md*15;
  left: 25%;
  transform: translate(-25%, 0);
  padding: $padding-unit;
  margin-bottom: $padding-unit-md;
  font-size: $fontsize-sm;
}

.icon-holder-info[data-tooltip]:hover::after {
  all: initial;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: $padding-unit solid transparent;
  border-right: $padding-unit solid transparent;
  border-top: $padding-unit solid $info-icon-bg;
  position: absolute;
  bottom: 100%;
  content: '';
  left: 25%;
  transform: translate(-25%, 0);
  margin-bottom: $padding-unit/2;
}